@model ICollection<PhotoFormat>

@inject IUser userService;
@{
    var name = User.Identity!.Name;

    var user = userService.Get(name);

    var color = UserMethods.GetColor(user.SocNetItems.X, user.SocNetItems.Y);

    int i = 1;
}

<div class="profil_left__all_foto light_@(color)">
    <h2 class="profil_left__foto_title">Фотографии</h2>
    <div class="profil_left__all_foto_list">

        @foreach (var item in Model)
        {
            <span class="profil_left__all_foto_f open__foto_1" onclick="formShow('@i')" id="photo-@i">
                <img class="profil_left__all_foto_img"  src="data:image/@item.Format;base64,@item.Image" alt="">
            </span>

            i++;
        }

    </div>
</div>