@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="profil_left">

    <div class="profil_left__container">
        <p>Ой, что-то пошло не так(</p>
    </div>

    

</div>

<div class="profil_right">

</div>
