@model ICollection<string>

@{
    ViewBag.Title = "Логи ошибок";
}

<p>Логи ошибок</p>
@foreach (var item in Model)
{
    var itemAr = item.Split("\\");

    var fileName = itemAr[itemAr.Length - 1];

    <a asp-area="Admin" asp-controller="Home" asp-action="GetFile" asp-route-fileName="@item">@fileName</a>

}
