
@inject IUser userService;
@{
    var name = User.Identity!.Name;

    var user = userService.Get(name);

    string color = "gray";

    if (user is not null)
        color = UserMethods.GetColor(user.SocNetItems.X, user.SocNetItems.Y);
}

<div class="chats">
    <div class="chats__conteiner light_@(color)">
        <div class="chats__search dark_@(color)_border_bottom light_@(color)">
            <input type="text" name="search" placeholder="Поиск" class="chats__search_input">
        </div>
        <div class="chats__nav dark_@(color)_border_bottom">
            <div class="chats__list">
                <div class="chats__list_item_item dark_@(color)_border_bottom_hover dark_@(color)_border_bottom" data-path="one" id="but1"
                    onclick="TabMaster('but1', 'but2', 'but3', 'dark_@(color)_border_bottom')">
                    Открытые диалоги:@*@Model.Friends.Count*@
                </div>
                <div class="chats__list_item_item dark_@(color)_border_bottom_hover" data-path="two" id="but2"
                    onclick="TabMaster('but2', 'but1', 'but3', 'dark_@(color)_border_bottom')">
                    Создать диалог с другом@*@Model.Subscribers.Count*@
                </div>
                <div class="chats__list_item_item dark_@(color)_border_bottom_hover" data-path="three" id="but3"
                    onclick="TabMaster('but3', 'but2', 'but1', 'dark_@(color)_border_bottom')">
                    Подписки:@*@Model.Subscriptions.Count*@
                </div>
                @*<div class="chats__list_item_item dark_@(color)_border_bottom_hover" data-path="four">
                    Онлайн
                </div>*@
            </div>
        </div>
        <div data-target="one" class="chats__info_container chats__info_container_active">
            <div class="chats__post dark_@(color)_border_bottom mid_@(color)_hover">
                <a class="chats__post_link" href="">
                    <div class="chats__post_ava">
                        <img class="chats__post_ava_img" src="img/123.png" alt="">
                    </div>
                    <div class="chats__post_block">
                        <div class="chats__post_block_name_time">
                            <span class="chats__post_name">Название 1</span>
                            <span class="chats__post_time">4:20</span>
                        </div>
                        <div class="chats__post_ava2_text">
                            <div class="chats__post_ava2">
                                <img class="chats__post_ava2_img" src="img/123.png" alt="">
                            </div>
                            <div class="chats__post_text">Сам ты псина </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="chats__post dark_@(color)_border_bottom mid_@(color)_hover">
                <a class="chats__post_link" href="">
                    <div class="chats__post_ava">
                        <img class="chats__post_ava_img" src="img/123.png" alt="">
                    </div>
                    <div class="chats__post_block">
                        <div class="chats__post_block_name_time">
                            <span class="chats__post_name">Название</span>
                            <span class="chats__post_time">4:20</span>
                        </div>
                        <div class="chats__post_ava2_text">
                            <div class="chats__post_ava2">
                                <img class="chats__post_ava2_img" src="img/123.png" alt="">
                            </div>
                            <div class="chats__post_text">
                                Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Quia aliquid
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="chats__post dark_@(color)_border_bottom mid_@(color)_hover">
                <a class="chats__post_link" href="">
                    <div class="chats__post_ava">
                        <img class="chats__post_ava_img" src="img/123.png" alt="">
                    </div>
                    <div class="chats__post_block">
                        <div class="chats__post_block_name_time">
                            <span class="chats__post_name">Название</span>
                            <span class="chats__post_time">4:20</span>
                        </div>
                        <div class="chats__post_ava2_text">
                            <div class="chats__post_ava2">
                                <img class="chats__post_ava2_img" src="img/123.png" alt="">
                            </div>
                            <div class="chats__post_text">
                                Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Quia aliquid
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="chats__post dark_@(color)_border_bottom mid_@(color)_hover">
                <a class="chats__post_link" href="">
                    <div class="chats__post_ava">
                        <img class="chats__post_ava_img" src="img/123.png" alt="">
                    </div>
                    <div class="chats__post_block">
                        <div class="chats__post_block_name_time">
                            <span class="chats__post_name">Название</span>
                            <span class="chats__post_time">4:20</span>
                        </div>
                        <div class="chats__post_ava2_text">
                            <div class="chats__post_ava2">
                                <img class="chats__post_ava2_img" src="img/123.png" alt="">
                            </div>
                            <div class="chats__post_text">
                                Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Quia aliquid
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="chats__post dark_@(color)_border_bottom mid_@(color)_hover">
                <a class="chats__post_link" href="">
                    <div class="chats__post_ava">
                        <img class="chats__post_ava_img" src="img/123.png" alt="">
                    </div>
                    <div class="chats__post_block">
                        <div class="chats__post_block_name_time">
                            <span class="chats__post_name">Название</span>
                            <span class="chats__post_time">4:20</span>
                        </div>
                        <div class="chats__post_ava2_text">
                            <div class="chats__post_ava2">
                                <img class="chats__post_ava2_img" src="img/123.png" alt="">
                            </div>
                            <div class="chats__post_text">
                                Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Quia aliquid
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="chats__post dark_@(color)_border_bottom mid_@(color)_hover">
                <a class="chats__post_link" href="">
                    <div class="chats__post_ava">
                        <img class="chats__post_ava_img" src="img/123.png" alt="">
                    </div>
                    <div class="chats__post_block">
                        <div class="chats__post_block_name_time">
                            <span class="chats__post_name">Название</span>
                            <span class="chats__post_time">4:20</span>
                        </div>
                        <div class="chats__post_ava2_text">
                            <div class="chats__post_ava2">
                                <img class="chats__post_ava2_img" src="img/123.png" alt="">
                            </div>
                            <div class="chats__post_text">
                                Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Quia aliquid
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div data-target="two" class="chats__info_container">
            <div class="chats__post dark_@(color)_border_bottom mid_@(color)_hover">
                <a class="chats__post_link" href="">
                    <div class="chats__post_ava">
                        <img class="chats__post_ava_img" src="img/123.png" alt="">
                    </div>
                    <div class="chats__post_block">
                        <div class="chats__post_block_name_time">
                            <span class="chats__post_name">Название 2</span>
                            <span class="chats__post_time">4:20</span>
                        </div>
                        <div class="chats__post_ava2_text">
                            <div class="chats__post_ava2">
                                <img class="chats__post_ava2_img" src="img/123.png" alt="">
                            </div>
                            <div class="chats__post_text">Сам ты псина </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="chats__post dark_@(color)_border_bottom mid_@(color)_hover">
                <a class="chats__post_link" href="">
                    <div class="chats__post_ava">
                        <img class="chats__post_ava_img" src="img/123.png" alt="">
                    </div>
                    <div class="chats__post_block">
                        <div class="chats__post_block_name_time">
                            <span class="chats__post_name">Название</span>
                            <span class="chats__post_time">4:20</span>
                        </div>
                        <div class="chats__post_ava2_text">
                            <div class="chats__post_ava2">
                                <img class="chats__post_ava2_img" src="img/123.png" alt="">
                            </div>
                            <div class="chats__post_text">
                                Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Quia aliquid
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="chats__post dark_@(color)_border_bottom mid_@(color)_hover">
                <a class="chats__post_link" href="">
                    <div class="chats__post_ava">
                        <img class="chats__post_ava_img" src="img/123.png" alt="">
                    </div>
                    <div class="chats__post_block">
                        <div class="chats__post_block_name_time">
                            <span class="chats__post_name">Название</span>
                            <span class="chats__post_time">4:20</span>
                        </div>
                        <div class="chats__post_ava2_text">
                            <div class="chats__post_ava2">
                                <img class="chats__post_ava2_img" src="img/123.png" alt="">
                            </div>
                            <div class="chats__post_text">
                                Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Quia aliquid
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="chats__post dark_@(color)_border_bottom mid_@(color)_hover">
                <a class="chats__post_link" href="">
                    <div class="chats__post_ava">
                        <img class="chats__post_ava_img" src="img/123.png" alt="">
                    </div>
                    <div class="chats__post_block">
                        <div class="chats__post_block_name_time">
                            <span class="chats__post_name">Название</span>
                            <span class="chats__post_time">4:20</span>
                        </div>
                        <div class="chats__post_ava2_text">
                            <div class="chats__post_ava2">
                                <img class="chats__post_ava2_img" src="img/123.png" alt="">
                            </div>
                            <div class="chats__post_text">
                                Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Quia aliquid
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="chats__post dark_@(color)_border_bottom mid_@(color)_hover">
                <a class="chats__post_link" href="">
                    <div class="chats__post_ava">
                        <img class="chats__post_ava_img" src="img/123.png" alt="">
                    </div>
                    <div class="chats__post_block">
                        <div class="chats__post_block_name_time">
                            <span class="chats__post_name">Название</span>
                            <span class="chats__post_time">4:20</span>
                        </div>
                        <div class="chats__post_ava2_text">
                            <div class="chats__post_ava2">
                                <img class="chats__post_ava2_img" src="img/123.png" alt="">
                            </div>
                            <div class="chats__post_text">
                                Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Quia aliquid
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="chats__post dark_@(color)_border_bottom mid_@(color)_hover">
                <a class="chats__post_link" href="">
                    <div class="chats__post_ava">
                        <img class="chats__post_ava_img" src="img/123.png" alt="">
                    </div>
                    <div class="chats__post_block">
                        <div class="chats__post_block_name_time">
                            <span class="chats__post_name">Название</span>
                            <span class="chats__post_time">4:20</span>
                        </div>
                        <div class="chats__post_ava2_text">
                            <div class="chats__post_ava2">
                                <img class="chats__post_ava2_img" src="img/123.png" alt="">
                            </div>
                            <div class="chats__post_text">
                                Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Quia aliquid
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div data-target="three" class="chats__info_container">
            <div class="chats__post dark_@(color)_border_bottom mid_@(color)_hover">
                <a class="chats__post_link" href="">
                    <div class="chats__post_ava">
                        <img class="chats__post_ava_img" src="img/123.png" alt="">
                    </div>
                    <div class="chats__post_block">
                        <div class="chats__post_block_name_time">
                            <span class="chats__post_name">Название 3</span>
                            <span class="chats__post_time">4:20</span>
                        </div>
                        <div class="chats__post_ava2_text">
                            <div class="chats__post_ava2">
                                <img class="chats__post_ava2_img" src="img/123.png" alt="">
                            </div>
                            <div class="chats__post_text">Сам ты псина </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="chats__post dark_@(color)_border_bottom mid_@(color)_hover">
                <a class="chats__post_link" href="">
                    <div class="chats__post_ava">
                        <img class="chats__post_ava_img" src="img/123.png" alt="">
                    </div>
                    <div class="chats__post_block">
                        <div class="chats__post_block_name_time">
                            <span class="chats__post_name">Название</span>
                            <span class="chats__post_time">4:20</span>
                        </div>
                        <div class="chats__post_ava2_text">
                            <div class="chats__post_ava2">
                                <img class="chats__post_ava2_img" src="img/123.png" alt="">
                            </div>
                            <div class="chats__post_text">
                                Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Quia aliquid
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="chats__post dark_@(color)_border_bottom mid_@(color)_hover">
                <a class="chats__post_link" href="">
                    <div class="chats__post_ava">
                        <img class="chats__post_ava_img" src="img/123.png" alt="">
                    </div>
                    <div class="chats__post_block">
                        <div class="chats__post_block_name_time">
                            <span class="chats__post_name">Название</span>
                            <span class="chats__post_time">4:20</span>
                        </div>
                        <div class="chats__post_ava2_text">
                            <div class="chats__post_ava2">
                                <img class="chats__post_ava2_img" src="img/123.png" alt="">
                            </div>
                            <div class="chats__post_text">
                                Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Quia aliquid
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="chats__post dark_@(color)_border_bottom mid_@(color)_hover">
                <a class="chats__post_link" href="">
                    <div class="chats__post_ava">
                        <img class="chats__post_ava_img" src="img/123.png" alt="">
                    </div>
                    <div class="chats__post_block">
                        <div class="chats__post_block_name_time">
                            <span class="chats__post_name">Название</span>
                            <span class="chats__post_time">4:20</span>
                        </div>
                        <div class="chats__post_ava2_text">
                            <div class="chats__post_ava2">
                                <img class="chats__post_ava2_img" src="img/123.png" alt="">
                            </div>
                            <div class="chats__post_text">
                                Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Quia aliquid
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="chats__post dark_@(color)_border_bottom mid_@(color)_hover">
                <a class="chats__post_link" href="">
                    <div class="chats__post_ava">
                        <img class="chats__post_ava_img" src="img/123.png" alt="">
                    </div>
                    <div class="chats__post_block">
                        <div class="chats__post_block_name_time">
                            <span class="chats__post_name">Название</span>
                            <span class="chats__post_time">4:20</span>
                        </div>
                        <div class="chats__post_ava2_text">
                            <div class="chats__post_ava2">
                                <img class="chats__post_ava2_img" src="img/123.png" alt="">
                            </div>
                            <div class="chats__post_text">
                                Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Quia aliquid
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="chats__post dark_@(color)_border_bottom mid_@(color)_hover">
                <a class="chats__post_link" href="">
                    <div class="chats__post_ava">
                        <img class="chats__post_ava_img" src="img/123.png" alt="">
                    </div>
                    <div class="chats__post_block">
                        <div class="chats__post_block_name_time">
                            <span class="chats__post_name">Название</span>
                            <span class="chats__post_time">4:20</span>
                        </div>
                        <div class="chats__post_ava2_text">
                            <div class="chats__post_ava2">
                                <img class="chats__post_ava2_img" src="img/123.png" alt="">
                            </div>
                            <div class="chats__post_text">
                                Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Quia aliquid
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<partial name="Partial/MessageRightSiteBar" />

