@model ComModel

@inject IUser userService;
@{
    var name = User.Identity!.Name;

    var user = userService.Get(name);

    var color = UserMethods.GetColor(user.SocNetItems.X, user.SocNetItems.Y);

    var autor = Model.AuthorName;
}

<div class="profil_left__news light_@(color)">
    <button class="profil_left__news_btn" onclick="fun__but('postadd')">Добавить новость группы</button>
</div>
<div id="postadd" style="display: none">
    <div class="my_pad my_item_marg light_@(color)">
        <form asp-action="AddComm" method="post" enctype="multipart/form-data">
            <input type="text" placeholder="" name="AuthorName" value="@autor" style="display:none">
            <input type="text" placeholder="" name="UserName" value="@name" style="display:none">
            <div>
                <textarea cols="50" rows="5" class="forinput_or_textarea light_@(color)"
                          placeholder="Что у вас нового?" name="Text"></textarea>
            </div>
            <output id="list1"></output>
            <div class="div_btn dark_@(color)_border_top">
                <input accept="image/gif, image/jpeg, image/png" type="file" id="files1" name="uploadedFile"
                       style="display:none;" />
                <label for="files1">
                    <i class="fa fa-picture-o fa-2x" aria-hidden="true">
                        <ul class="fa_news__post_l_list">
                            <li class="fa_news__post_l_list_item">Добавить изображение</li>
                        </ul>
                    </i>
                </label>
                <button type="submit" class="btn btn-default my_btn_@(color) light_@(color) dark_@(color)_hover">Выложить</button>
            </div>
        </form>


    </div>
</div>
