@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject IUser userService;
@{
    var name = User.Identity!.Name;

    var user = userService.Get(name);

    var color = UserMethods.GetColor(user.SocNetItems.X, user.SocNetItems.Y);
}

<div class="settings">
    <div class="filter light_@(color)">
        <h2 class="filter__title">Фильтры друзей</h2>
        <ul class="filter__list">
            <li class="rightsitebar__list_item">В будущем тут будут фильтры</li>
            <li class="rightsitebar__list_item">В будущем тут будут фильтры</li>
            <li class="rightsitebar__list_item">В будущем тут будут фильтры</li>
        </ul>
    </div>
    <div class="possible light_@(color)">
        <h2 class="possible__title">Возможные друзья</h2>
        <ul class="possible__list dark_@(color)_border_bottom">
            <li class="rightsitebar__list_item">В будущем тут будут рекомендации</li>
            <li class="rightsitebar__list_item">В будущем тут будут рекомендации</li>
            <li class="rightsitebar__list_item">В будущем тут будут рекомендации</li>
        </ul>
        <span class="possible__get_all mid_@(color)_hover">Посмотреть всех</span>
    </div>
    <div class="rightsitebar__link_top_cont">
        <a class="rightsitebar__link_top" href="#top">
            <i class="fas fa-arrow-alt-circle-up fa-2x color_dark_dark_@(color)" style="margin-bottom: 10px;"></i>
        </a>
    </div>
</div>