
<header class="header__container container">
    <div class="header__left">
        <div class="header__red dark_red"></div>
        <div class="header__green dark_green"></div>
    </div>
    <div class="header__center">
        <a class="header__logo" href=""></a>
    </div>
    <div class="header__right">
        <div class="header__blue dark_blue">
        </div>
        <div class="header__yellow dark_yellow"></div>
    </div>
    <vc:user-info />
</header>
