

<div class="leftsiterbar">
    <ul class="leftsitebar__list">
        <li class="leftsitebar__list_item dark_blue_hover">
            Настройки
        </li>
        <li class="leftsitebar__list_item dark_blue_hover">
            <a asp-controller="News" asp-action="Index">Новости</a>
        </li>
        <li class="leftsitebar__list_item dark_blue_hover">
            Мой профиль
        </li>
        <li class="leftsitebar__list_item dark_blue_hover">
            Мои сообщения
        </li>
        <li class="leftsitebar__list_item dark_blue_hover">
            Мои друзья
        </li>
        <li class="leftsitebar__list_item dark_blue_hover">
            Мои группы
        </li>
        <li class="leftsitebar__list_item dark_blue_hover">
            Противостояния
        </li>
    </ul>
</div>
